name: Tests

on:
  push:
  pull_request:

jobs:
  test:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Check generated files are up-to-date
        run: |
          make generate manifests
          git diff --exit-code || (echo "Generated files are out of date. Run 'make generate manifests' and commit the result." && exit 1)

      - name: Running Tests
        run: |
          go mod tidy
          make test
