{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "llmwarden.fullname" . }}-manager
  labels:
    {{- include "llmwarden.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  verbs:
  - get
  - list
  - update
  - patch
- apiGroups:
  - llmwarden.io
  resources:
  - llmaccesses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - llmwarden.io
  resources:
  - llmaccesses/finalizers
  verbs:
  - update
- apiGroups:
  - llmwarden.io
  resources:
  - llmaccesses/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - llmwarden.io
  resources:
  - llmproviders
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - llmwarden.io
  resources:
  - llmproviders/finalizers
  verbs:
  - update
- apiGroups:
  - llmwarden.io
  resources:
  - llmproviders/status
  verbs:
  - get
  - patch
  - update
{{- if .Values.externalSecrets.enabled }}
- apiGroups:
  - external-secrets.io
  resources:
  - externalsecrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
{{- end }}
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
{{- end }}
